@import
"compass/css3",
"settings",
"foundation/scss/foundation";

@mixin svg-background($img, $width, $height) {
  background-image: inline-image($img + ".svg");
  background-size: $width $height;
  background-repeat:no-repeat;
}

// -----------------------------------------------------
//          General
// -----------------------------------------------------

html, body, .container, .wrapper>.row, .off-canvas-wrap, .inner-wrap {
  height: 100%;
}

h3 {
  text-transform:uppercase;
  font-size: 12px;
}



// -----------------------------------------------------
//          Header
// -----------------------------------------------------

.top-bar{
  .small-logo {
    position: absolute;
    background: transparent url('../images/small-logo.png');
    width: 35px;
    height: 35px;
    left: 20px;
    top:5px;
  }
  .text-logo{
    color:#FFF;
    position: absolute;
    left: 60px;
    top:7px;
  }
  .h-icon{
    width:20px;
    height:20px;
  }
  @each $icon in settings, cloud, support {
    .h-icon.#{$icon} {
      @include svg-background("icon-header/"+quote($icon), 20px, 20px);
    }
  }
}


// -----------------------------------------------------
//          Search box
// -----------------------------------------------------

.search-box {
  position:relative;
  width: 100%;
  height: 60px;
  background-color: #f3fcff;
  border-bottom:1px solid $secondary-color;

  &>.row {
    position: relative;
  }
  
  h3 {
    margin-left:20px;
    padding-top:5px;
  }

  form {
    height: 100%;

    input {
      position:absolute;
      text-indent: 20px;
      top:15px;
      bottom:0px;
      font-size: 20px;
    }
  }
}

// -----------------------------------------------------
//          Content
// -----------------------------------------------------

.wrapper {
  position:absolute;
  width:100%;
  top: 107px;
  bottom:0px;
  left:0px;

  .inner-wrap {
    -webkit-transition: -webkit-#{$menu-slide};
    -moz-transition: -moz-#{$menu-slide};
    -ms-transition: -ms-#{$menu-slide};
    -o-transition: -o-#{$menu-slide};
    // transition: #{$menu-slide};
  }

  .filters {
    border-right: 1px solid $secondary-color;

    .filter {
      margin:20px;

      .row {
        font-size:12px;
        color:$text-color;
      }
    }
  }

  .results{
    overflow-y:auto; 

    .row{
      width:100%;
      background: #FFF url('../images/arrow.png') no-repeat calc(100% - 10px) center;

      .icon{
        position:relative;
        width:55px;
        height:68px;
        margin:10px 20px 10px 20px;
        float:left;

        .icon-types{
          width:43px;
          height:56px;
          margin-left:12px;
        }
        // @import "../images/icon-types/*.png";
        // @include all-icon-types-sprites;

        .icon-provider{
          position: absolute;
          bottom:0px;
          left:0px;
          width:23px;
          height:23px;
        }
        // @import "../images/icon-provider/*.png";
        // @include all-icon-provider-sprites;
      }

      .details{
        display:table;
        margin-right:180px;

        h2{
          font-weight: normal;
          color:$text-color;
          font-size:16px;
          margin:10px 0 0 0;
        }

        p{
          font-size:14px;
          color:$secondary-color;
          margin:0;
          strong{
            color:$primary-color;
          }

          [class^="hlt-"] {
            background: yellow;
          }
        }
      }
      .date{
        color:#adadad;
        margin:10px 30px 0 0;
        width:140px;
        font-size:12px;
        text-align:right;
        float:right;
      }
    }
  }

}

// -----------------------------------------------------
//          Footer
// -----------------------------------------------------

footer{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: $sidebar-width;
  border-top:1px solid $secondary-color;
  background-color:#f7f7f7;
  height:42px;
  border-right:1px solid $secondary-color;

  .icon-status{
    position:relative;
    background-image: url('../images/icon-footer-status.png');
    background-repeat:no-repeat;
    width: 35px;
    height:27px;
    margin:10px 10px 0px 10px;
    float:left;

    .state{
      position:absolute;
      background-repeat:no-repeat;
      bottom:0px;
      right:0px;
    }
    .state.ok{
      background-image: url('../images/icon-footer-status-ok.png');
      width: 18px;
      height: 14px;
    }
    .state.loading{
      background-image: url('../images/icon-footer-status-loading.png');
      width: 22px;
      height: 16px;
      animation:spin 4s linear infinite;
    }

  }

  h3{
    font-weight: normal;
    font-size:10px;
    margin-top:10px;
  }
  small{
    font-size: 10px;
    padding:0;
    margin: 0;
    color: $secondary-color;
  }
}
