$primary-color : #2a9ad6;
$legend-color : #adadad;
$border-color : #b7b7b7;
$text-color : #676767;

$sidebar-width : 210px;

body{
  padding:0px;
  margin:0px;
  font-family:Helvetica;
}

h3{
  text-transform:uppercase;
  color: $primary-color;
  font-size: 12px;
  margin:0px;
}
.header{
  width:100%;
  height:60px;
  background-color: $primary-color;

  a{
    color: inherit;
    text-decoration: none;
  }

  img{
    vertical-align: middle;
  }

  .small-logo{
    position: absolute;
    background: transparent url('../images/small-logo.png');
    width: 42px;
    height: 42px;
    left: 20px;
    top:9px;
  }

  .menu{
    position: absolute;
    width:400px;
    height:70px;
    top:0px;
    right:0px;
    line-height:60px;
    font-size:12px;
    color:#FFF;
    text-align: right;
    padding-right:30px;
  }

}

.search-box{
  position:relative;
  height: 60px;
  h3{
    margin-left:20px;
    padding-top:5px;
  }
  input{
    position:absolute;
    background-color: transparent;
    border:0;
    left:20px;
    right:20px;
    top:15px;
    bottom:0px;
    font-size: 30px;
    color:$text-color;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica;
    outline: none;

  }
}

.content{
  position:absolute;
  width:100%;
  top: 122px;
  bottom:0px;
  left:0px;

  .filters{
    position:absolute;
    background-color:#f3f3f3;
    border-right:1px solid $border-color;
    width:$sidebar-width;
    top:0px;
    left:0px;
    bottom:43px;
    overflow-y: auto;

    .filter{
      margin:20px;

      .row{
        font-size:12px;
        color:$text-color;
      }
    }
  }

  .results{
    position:absolute;
    top:0px;
    left:211px;
    right:0px;
    bottom:0px;
    overflow-y:auto; 

    .row{
      position:relative;
      width:100%;
      height:90px;
      border-bottom:1px solid $border-color;

      .icon{
        position: absolute;
        width:85px;
        top:0px;
        left:0px;
        margin-left:20px;
        margin-top:10px;

        .icon-types{
          width:43px;
          height:56px;
        }

        .icon-provider{
          position: absolute;
          bottom:-12px;
          left:-12px;
          width:23px;
          height:23px;
        }
        @import "../images/icon-provider/*.png";
        @include all-icon-provider-sprites;
        @import "../images/icon-types/*.png";
        @include all-icon-types-sprites;
      }

      .details{
        position: absolute;
        left:85px;
        top:0px;
        right:180px;

        h2{
          font-weight: normal;
          color:$text-color;
          font-size:16px;
          margin:10px 0 0 0;
        }

        p{
          font-size:14px;
          color:$legend-color;
          margin:0;
          strong{
            color:$primary-color;
          }
        }
      }
      .date{
        position:absolute;
        color:#adadad;
        right:50px;
        width:160px;
        line-height:90px;
        font-size:12px;
        text-align:right;
      }
      .arrow{
        position:absolute;
        width:10px;
        height:20px;
        background: transparent url('../images/arrow.png') no-repeat;
        right:10px;
        top:35px;
      }
    }
  }

}
.search-box{
    width: 100%;
    height: 60px;
    background-color: #f3fcff;
    border-bottom:1px solid $border-color;
}
footer{
  position:absolute;
  bottom:0px;
  left: 0px;
  width: $sidebar-width;
  border-top:1px solid $border-color;
  background-color:#f7f7f7;
  height:42px;
  border-right:1px solid $border-color;

  h3{
    font-weight: normal;
    font-size:10px;
  }
  small{
    font-size: 10px;
    color: $legend-color;
  }
}
