@import
"compass/css3",
"settings",
"foundation/scss/foundation";

@mixin svg-background($img, $width, $height) {
  background-image: inline-image($img + ".svg");
  background-size: $width $height;
  background-repeat:no-repeat;
}

// -----------------------------------------------------
//          General
// -----------------------------------------------------

html, body, .container, .wrapper>.row, .off-canvas-wrap, .inner-wrap {
  height: 100%;
}

h3 {
  text-transform:uppercase;
  font-size: 12px;
}

.clearer{
  clear:both;
}

// -----------------------------------------------------
//          Header
// -----------------------------------------------------

.top-bar{
  .small-logo {
    position: absolute;
    @include svg-background("logo", 35px, 35px);
    width: 35px;
    height: 35px;
    left: 20px;
    top:5px;
  }
  .text-logo{
    color:#FFF;
    position: absolute;
    left: 60px;
    top:7px;
  }
  .header-icon{
    position:relative;
    display:inline-block;
    margin-top:12px;
    width:20px;
    height:20px;
  }
  @each $icon in settings, cloud, support {
    .header-icon.#{$icon} {
      @include svg-background("icon-header/"+quote($icon), 20px, 20px);
    }
  }
  .state{
    position:absolute;
    background-repeat:no-repeat;
    bottom:-4px;
    right:-4px;
  }
  .state.ok{
    @include svg-background("icon-header/ok", 16px, 16px);
    width: 16px;
    height: 16px;
  }
  .state.loading{
    @include svg-background("icon-header/loading", 16px, 16px);
    width: 16px;
    height: 16px;
    animation:antispin 4s linear infinite;
  }

}


// -----------------------------------------------------
//          Search box
// -----------------------------------------------------

.search-box {
  position:relative;
  width: 100%;
  height: 60px;
  background-color: $light-bg;
  border-bottom:1px solid $border-color;

  &>.row {
    position: relative;
  }
  
  h3 {
    margin-left:17px;
    padding-top:5px;
  }

  form {
    height: 100%;

    input {
      position:absolute;
      text-indent: 20px;
      top:15px;
      bottom:0px;
      font-size: 20px;
    }
  }
}

// -----------------------------------------------------
//          Content
// -----------------------------------------------------

.wrapper {
//  position:absolute;
  width:100%;
  top: 107px;
  bottom:0px;
  left:0px;
  background-color:#fafafa;

  .inner-wrap {
    -webkit-transition: -webkit-#{$menu-slide};
    -moz-transition: -moz-#{$menu-slide};
    -ms-transition: -ms-#{$menu-slide};
    -o-transition: -o-#{$menu-slide};
    // transition: #{$menu-slide};
  }

  .filters {

    .filter {
      margin:20px 0px 20px 0px;

      .element {
        margin-left:20px;
        margin-right:20px;
        font-size:11px;
        color:$text-color;
      }
    }
  }

  .results{
    overflow-y:auto; 
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
    background-color:#fff;

    .loading{
      padding:30px 0px 30px 0px;
      text-align: center;
      font-size:18px;
      color: #ddd;

      .loading-icon{
        display: inline-block;
        @include svg-background("spinner", 16px, 16px);
        width: 16px;
        height: 16px;
        animation:spin 2s linear infinite;
      }
    }
    .result-row{
      position:relative;
      width:100%;
      border-top: 1px solid $border-color;
      clear:both;
      background-color:#fff;
      cursor:pointer;
      transition: all .3s ease-in;

      &:hover{
        background-color: $light-bg;
        transition: background-color .3s ease-in;
      }

      &:first-child{
        border-top: 0px;
      } 

      .icon{
        position:relative;
        width:55px;
        height:68px;
        margin:10px 20px 10px 20px;
        float:left;

        .icon-types{
          width:43px;
          height:56px;
          margin-left:12px;
        }
        @each $type in "5252ce4ce4cfcd16f55cfa3b", "5252ce4ce4cfcd16f55cfa3c", "5252ce4ce4cfcd16f55cfa3d", "5252ce4ce4cfcd16f55cfa3f" {
          .type-#{$type} {
            @include svg-background("icon-types/"+quote($type), 43px, 56px);
          }
        }

        .icon-provider{
          position: absolute;
          bottom:0px;
          left:0px;
          width:20px;
          height:20px;
        }
        @each $provider in "525eaa1603a470782b000001", "5252cedd03a470843f000004", "5267cff903a470d5f9000006" {
          .provider-#{$provider} {
            @include svg-background("icon-provider/"+quote($provider), 20px, 20px);
          }
        }
      }
      

      .details{
        display:table;
        margin-right:180px;

        h2{
          font-weight: normal;
          color:$text-color;
          font-size:16px;
          margin:10px 0 0 0;
        }

        p{
          font-size:14px;
          color:$secondary-color;
          margin:0;
          strong{
            color:$primary-color;
          }

          [class^="hlt-"] {
            background: yellow;
          }
        }
      }
      .date{
        color:#adadad;
        margin:10px 30px 0 0;
        width:140px;
        font-size:12px;
        text-align:right;
        float:right;
      }
    }
  }

}
