<form ng-show="results.length">
  <div class="filter">
    <div class="row">
      <h3 class="large-6 columns">What</h3>
    </div>

    <div class="element" ng-repeat="docType in documentTypes" ng-show="docType.search_count">
      <div class="row" ng-click="update()">
        <input type="checkbox" ng-model="docType.visible" id="type-{{docType.id}}">
        <label for="type-{{docType.id}}">
          {{docType.name | capitalizeFirst}}
        </label>
        <span class="numberRes">{{docType.search_count}}</span>
      </div>
    </div>
  </div>

  <div class="filter">
    <div class="row">
      <h3 class="large-6 columns">Where</h3>
    </div>

    <div class="element" ng-repeat="provider in providers" ng-show="provider.search_count">
      <div class="row">
        <input type="checkbox" ng-model="provider.visible" id="type-{{Object.keys(providers)[$index]}}">
        <label for="type-{{Object.keys(providers)[$index]}}">
          {{provider.name | capitalizeFirst}}
        </label>
        <span class="numberRes">{{provider.search_count}}</span>
      </div>
    </div>
  </div>

</form>