<nav class="top-bar" data-topbar="">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <a href="/"><div class="small-logo"></div> <div class="text-logo">any<strong>Fetch</strong></div></a>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li> <a href="#">
        <div class="header-icon cloud">
          <div class="state ok"></div>
        </div>
      </a> </li>

      <li class="divider"></li>
      <li> <a href="#"><div class="header-icon support"></div></a></li>
      <li class="divider"></li>
      <li><a href="#"><div class="header-icon logout"></div></a></li>
      <li class="show-for-medium-up divider"></li>
      <li class="show-for-medium-up"><a href="#"><img src="images/38784cd8.avatar.png" width="30px" height="30px"> {{userName}}</a></li>
    </ul>
  </section>
</nav>

<!-- SEARCH -->
<section class="search-box">
  <div class="row">
    <form ng-submit="search(textSearch)">
      <h3>Fetch</h3>
      <input type="text" value="" placeholder="Search" ng-model="textSearch" speech="" x-webkit-speech="">
    </form>
  </div>
</section>


<div class="wrapper">
  <div class="row">
    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <!-- //////////////////////////////////////////////
                    Filters
            ////////////////////////////////////////////// -->
        
        <div class="show-for-small">
          <a class="left-off-canvas-toggle">Filters</a> 
        </div>

        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">

        </aside>

        <div class="large-3 medium-3 columns filters">
          <div class="hide-for-small">
            <div class="sidebar">
              <form>
                <div class="filter">
                  <div class="row">
                    <h3 class="large-6 columns" ng-class="{active : !filterNeutralDocs}">What</h3>
                    <div class="large-6 columns text-right">
                      <a class="reset" ng-mouseup="resetFilterDocs()" ng-show="!filterNeutralDocs">RESET</a>
                    </div>
                  </div>
                  
                  <div class="element" ng-repeat="docType in docTypes" ng-show="nbResultsDocs[docType.id]" ng-click="setFilterDocs()">
                    <label for="type-{{docType.id}}" ng-class="{disabled: filterNeutralDocs}">
                      <div class="row">
                        <div class="large-9 columns">
                          <input type="checkbox" ng-model="filterType[docType.id]" id="type-{{docType.id}}">
                          {{docType.name | capitalizeFirst}}
                        </div>
                        <div class="large-3 columns text-right">
                          <span class="numberRes">{{nbResultsDocs[docType.id]}}</span>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>

                <div class="filter">
                  <div class="row">
                    <h3 class="large-6 columns" ng-class="{active : !filterNeutralProv}">Where</h3>
                    <div class="large-6 columns text-right">
                      <a class="reset" ng-mouseup="resetFilterProv()" ng-show="!filterNeutralProv">RESET</a>
                    </div>
                  </div>

                  <div class="element" ng-repeat="provStatu in Object.keys(provStatus)" ng-show="nbResultsProv[provStatu]" ng-click="setFilterProv()">
                    <label for="prov-{{provStatu}}" ng-class="{disabled: filterNeutralProv}">
                      <div class="row">
                        <div class="large-9 columns">
                          <input type="checkbox" ng-model="filterProv[provStatu]" id="prov-{{provStatu}}">
                          {{provStatus[provStatu].name | capitalizeFirst}}
                        </div>
                        <div class="large-3 columns text-right">
                          <span class="numberRes">{{nbResultsProv[provStatu]}}</span>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>



        <!-- //////////////////////////////////////////////
                Main content: result elements
            ////////////////////////////////////////////// -->

        <div class="large-9 medium-9 columns">
          <article class="results">
            <div class="loading" ng-hide="!loading">
              <div class="loading-icon"></div> Loading...
            </div>
            <div class="loaded" ng-hide="loading">
              <div class="result-row" ng-repeat="result in results">
                <snippet result="result" documenttypes="docTypes" providers="provStatus" ng-show="result | filtersResult:this"></snippet>
              </div>
            </div>
          </article>
        </div>

        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>
      </div>
    </div>
  </div>
</div>