<div class="preview" ng-show="show">
  <div class="background" ng-click="hideModal()"></div>
  <div class="details">
    <h1>Available Providers</h1>
    <hr>
    <ul class="no-bullet provider-list">
      <li ng-repeat="provider in providers" class="clearfix provider">
        <div class="large provider-{{provider.id}}"></div>
        {{provider.name}}
        <a class="button right" ng-click="connect(provider.id)">Connect</a>
      </li>
    </ul>
  </div>
  <div class="loading text-center" ng-hide="providers != null">
    <div class="loading-icon"></div> Loading...
  </div>
  <div class="close" ng-click="hideModal()"></div>
</div>