$height-login : 280px;

body.login{
    background-color: $light-primary-color;
    margin-top:100px;

    .logo{
        font-family: $input-font-family;
        color:#FFFFFF;
        font-size: 42px;
        text-align: center;

        img{
            width: 210px;
        }
    }
    .alert-box{
        margin-top:20px;
    }
    form{
        margin-top:20px;
        input{
            &[type="email"], &[type="password"], , &[type="text"]{
                background-color: $light-bg;
            }
        }
        .button{
            background-color: $alternative-color;
            &:hover{
                background-color: darken($alternative-color,10%);
            }
        }

        label{
            color:#FFFFFF;
        }
        a.sign_up{
            display: inline-block;
            font-size:12px;
            color:#FFF;
            margin-left: 3px;
            padding-right:20px;
            padding-top:17px;
            text-align: right;

            &:hover{
                text-decoration:underline;
            }
        }

        .add-border{
            border:1px solid #FFFFFF;
        }
        .register{
            color:#bbb;
        }
    }
    @media #{$small-only}{
        margin-top:50px;
    }
}
