// -----------------------------------------------------
//          Mixins
// -----------------------------------------------------

@mixin svg-background($img, $width, $height) {
  background-image: inline-image($img + ".svg");
  background-size: $width $height;
  background-repeat:no-repeat;
  width: $width;
  height: $height;
}

// -----------------------------------------------------
//          General
// -----------------------------------------------------

html, body, .container/*, .wrapper, .wrapper>.row, .off-canvas-wrap, .inner-wrap */ {
  height: 100%;
}

body.app {
  background-color: $bg-color;
}

h3 {
  text-transform:uppercase;
  font-size: 12px;
}
blockquote{
  color: darken($primary-color, 10);
  padding:0px;
  margin:0px;
  border:0;
}
::selection {
  background: $selection-bg;
  }
::-moz-selection {
  background: $selection-bg;
}

.clearer{
  clear:both;
}

.hlt {
  background: #fff28a;
}

html, body{
  height:100%;
  &.lock{
    overflow:hidden;
  }
}

// -----------------------------------------------------
//          Header
// -----------------------------------------------------

.header_bar{
  background: $topbar-bg-color;
  overflow: hidden;
  height:$topbar-height;

  .header_bar_section{
    width: auto;
    display: inline;
    list-style: none;
  }

  ul{
    width: auto;
    display: inline;
    list-style: none;

    li{
      float: left;

      &.divider{
        border-bottom: 0;
        border-top: 0;
        border-right: solid 1px lighten($topbar-bg-color, 10%);
        clear: none;
        height: $topbar-height;
        width: 0;
      }

      a:not(.button){
        padding: 0 15.66667px;
        line-height: 47px;
        background: #16A9E2;
      }

      &>a{
        //display: block;
        width: 100%;
        color: $topbar-menu-link-color;
        font-family: $header-font-family;
        font-size: $topbar-menu-link-font-size;
      }
    }
  }

  .small-logo {
    position: absolute;
    @include svg-background("logo-white", 120px, 35px);
    width: 120px;
    height: 35px;
    left: 20px;
    top:5px;
  }
  .text-logo{
    color:#FFF;
    position: absolute;
    left: 65px;
    top:10px;
  }
  .header-icon{
    position:relative;
    display:inline-block;
    margin-top:12px;
    width:20px;
    height:20px;
  }
  @each $icon in logout, cloud, support {
    .header-icon.#{$icon} {
      @include svg-background("icon-header/"+quote($icon), 20px, 20px);
    }
  }
}

.state{
  position:absolute;
  background-repeat:no-repeat;
  bottom:-4px;
  right:-4px;

  &.ok{
    @include svg-background("icon-header/ok", 16px, 16px);
    width: 16px;
    height: 16px;
  }
  &.loadingProv{
    @include svg-background("icon-header/loading", 16px, 16px);
    width: 16px;
    height: 16px;
    animation:antispin 4s linear infinite;
  }
}

#dropdown_providers{
  ul{
    list-style-type: none;
    margin: 0;

    li{
      padding: 10px 5px 10px 5px;
      font-size: 11px;
      color: $dropdown-bg;
      border-bottom: 1px solid $border-color;
      cursor: normal;

      .state{
        position:relative;
        float:left;
        margin-right:10px;
      }
      &:hover{
        background-color:#FFF;
        .edit{
          display:block;
        }
      }

      .ic{
        position:relative;
        float:left;
        margin-right:5px;
      }

      .edit{
        color: #FFF; // TODO CHANGE TO FOUNDATION STANDARDS
        float:right;
        padding:5px 10px 5px 10px;
        margin:0px;
        border-radius: 2px;
        font-size: 9px;
        display:none;
      }
      small{
        color: #999;
        font-size: 9px;
      }
    }
    .add{
      margin:0px;
      width:100%;
    }
  }
}

// -----------------------------------------------------
//          Search box
// -----------------------------------------------------

.search-box {
  position:relative;
  width: 100%;
  height: 60px;
  background-color: $light-bg;
  border-bottom:1px solid $border-color;

  &>.row {
    position: relative;
  }

  h3 {
    margin:0px;
    margin-left:15px;
    padding:0;
    padding-top:5px;
  }

  .filter_icon_container{
    float:left;
    height:60px;
    width:38px;

    .filter_icon{
      display: block;
      @include svg-background("icon-header/list", 28px, 28px);
      width:28px;
      height:28px;
      margin-top:16px;
      margin-left:10px;
    }
  }


  form {
    height: 100%;
    input {
      position:relative;
      text-indent: 20px;
      margin-top:-10px;
      font-size: 20px;
      height:45px;
    }
  }
  @media #{$small-only}{
    &.no_results nav{
      display:none !important;
    }
    &.no_results form{
      margin-left:0px;
    }
    &.have_results form{
      margin-left:38px;
    }
  }
}


// -----------------------------------------------------
//          Loading spinner
// -----------------------------------------------------

.loading {
  text-align: center;
  font-size:18px;
  color: #ddd;

  &.inline {
    padding:0px 0px 0px 20px;
    display: inline-block;
  }
  &:not(.inline) { padding:30px 0px 30px 0px; }

  .loading-icon{
    display: inline-block;
    @include svg-background("spinner", 16px, 16px);
    width: 16px;
    height: 16px;
    animation:spin 2s linear infinite;
  }
}


// -----------------------------------------------------
//          Content
// -----------------------------------------------------

.wrapper {
//  position:absolute;
  width:100%;
  top: 107px;
  bottom:0px;
  left:0px;

  .inner-wrap {
    -webkit-transition: -webkit-#{$menu-slide};
    -moz-transition: -moz-#{$menu-slide};
    -ms-transition: -ms-#{$menu-slide};
    -o-transition: -o-#{$menu-slide};
    // transition: #{$menu-slide};
  }

  .filters {

    .filter {
      margin:20px 0px 20px 0px;

      h3 {
        color: $body-font-color;
        font-size: 0.9em;

        &.active {
          color: $primary-color;
        }
      }

      .reset {
        color: $body-font-color;
        font-size: 0.7em;
      }

      .disabled {
        color: #999;
      }

      input[type="checkbox"] + label {
        margin-left: 0.20rem;
      }

      .element {
        margin-left:20px;
        margin-right:20px;
        font-size:11px;
        color:$text-color;

        .numberRes {
          float:right;
          line-height: 15px;
          &:before { content: "("; }
          &:after { content: ")"; }
        }
      }
    }
  }

  .filters_off_canvas{
    @extend .filters;
    border-right: 1px solid $border-color;
    form{
      margin:5px;
    }
  }

  .results{
    overflow-y:auto;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
    background-color:#fff;
    margin-bottom:20px;

    .empty {
      display: block;
      padding: 20px 0 40px;

      .logoFull {
        position: relative;
        height: 100px;
        width: 350px;
        margin: 0 auto;

        .small-logo {
          position: absolute;
          @include svg-background("cluestr_icon_grey", 80px, 80px);
          width: 80px;
          height: 80px;
          left: 20px;
          top:5px;
        }
        .text-logo{
          color:$secondary-color;
          position: absolute;
          left: 120px;
          top:20px;
          font-size: 3em;
        }
      }
      .punchline {
        color: darken($secondary-color, 0);
        font-size: 1.5em;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica;
        text-transform: uppercase;
      }

      .greyLogo {
        width: 70px;
      }
      @media #{$small-only}{
        .logoFull {
          width: 200px;

          .small-logo {
            @include svg-background("cluestr_icon_grey", 40px, 40px);
            width: 40px;
            height: 40px;
            left:10px;
            top:15px;
          }
          .text-logo{
            color:$secondary-color;
            left: 70px;
            font-size: 2em;
          }
        }
        .punchline {
          font-size:1em;
        }
      }
    }

    .result-row{
      position:relative;
      width:100%;
      border-top: 1px solid $border-color;
      clear:both;
      background-color:#fff;
      cursor:pointer;
      transition: all .3s ease-in;

      &:hover{
        background-color: $light-bg;
        transition: background-color .3s ease-in;
      }

      &:first-child{
        border-top: 0px;
      }

      .details{
        padding:10px;

        h2,h1{
          display:block;
          font-weight: normal;
          color:$text-color;
          font-size:16px;
          margin:10px 0 0 0;
        }

        p{
          font-size:14px;
          color:$secondary-color;
          margin:5px;
          strong{
            color:$primary-color;
          }
        }

        @media #{$small-only}{
          font-size:12px;
          h2,h1{
            margin:0;
          }
        }
      }
      .date{
        color:#adadad;
        margin:10px 30px 0 0;
        width:140px;
        font-size:12px;
        text-align:right;
        float:right;
      }
    }

    .more {
      padding: 10px 0;
    }
  }
}
.icon{
  position:relative;
  width:55px;
  height:68px;
  margin:10px 20px 10px 20px;
  float:left;

  .icon-types{
    width:43px;
    height:56px;
    margin-left:12px;
  }
  @each $type in "5252ce4ce4cfcd16f55cfa3b", "5252ce4ce4cfcd16f55cfa3c", "5252ce4ce4cfcd16f55cfa3d", "5252ce4ce4cfcd16f55cfa3f", "5252ce4ce4cfcd16f55cfa3a", "5252ce4ce4cfcd16f55cfa41" {
    .type-#{$type} {
      @include svg-background("icon-types/"+quote($type), 43px, 56px);
    }
  }
  @each $type in "pdf", "prez", "tab" {
    .type-5252ce4ce4cfcd16f55cfa3c-#{$type} {
      @include svg-background("icon-types/5252ce4ce4cfcd16f55cfa3c-"+quote($type), 43px, 56px);
    }
  }

  .icon-provider{
    position: absolute;
    bottom:0px;
    left:0px;
    width:20px;
    height:20px;
  }

  &.icon-small {
    width: 25px;
    height: 25px;
    margin: 0;

    .icon-types {
      height: 26px;
      width: 25px;
      background-size: 20px;
      margin: 0;
    }
  }

  @media #{$small-only}{
    width:40px;
    height: 38px;
    margin:5px;

    .icon-types{
      width:21px;
      height:28px;
      background-size: 21px 28px;
    }
  }
}

.inline_svg{
    display: inline-block;
    vertical-align: middle;
}
@each $provider in "53047faac8318c2d65000096", "52bff114c8318c29e9000005", "52cbda1ec8318c2d65000001", "53232d1dc8318cba94000042", "52ceb450c8318c4dc8000006" {
  .provider-#{$provider} {
    @include svg-background("icon-provider/"+quote($provider), 20px, 20px);
  }
  .provider-white-#{$provider} {
    @include svg-background("icon-white-provider/"+quote($provider), 20px, 20px);
  }
}

// -----------------------------------------------------
//          Preview
// -----------------------------------------------------

.preview{
  position:fixed;
  z-index:3;
  width:100%;
  height:100%;

  p{
    margin-bottom:0;
  }
  h1{
    font-size:24px;
  }
  .loading {
    position: absolute;
    top: 30px;
    z-index: 999;
    width: 100%;
  }

  .button{
    overflow-y: hidden;
    height:35px;
  }

  .background{
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    background-color:#000;
    opacity:0.5;
    z-index:2;
  }
  .details{
    position: absolute;
    top:0px;
    bottom:108px;
    left:10%;
    right:10%;
    overflow: scroll;
    background-color:#FFF;
    z-index:3;
    box-shadow: 0 0 10px #000;
    padding: 2%;
    @media #{$small-only}{
      zoom:0.5;
    }
    @media #{$large-up}{
      $preview-max : 1024px;
      left:50%;
      margin-left:-($preview-max/2);
      width: $preview-max;
    }
  }
  .close{
    position:absolute;
    top:10px;
    right:10px;
    @include svg-background("icon-preview/cross", 24px, 24px);
    z-index:5;
    cursor: pointer;
    &:hover{
      opacity:0.7;
    }
  }
  .footer{
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:110px;
    border-top:2px solid lighten($primary-color, 10);
    background-color: $primary-color;
    overflow:hidden;
    z-index:4;

    .provider{
      margin-top:2px;
      float:left;
      margin-right:5px;
      vertical-align: middle;
    }
    .ariane-1{
      float:left;
      margin-left:20px;
      line-height: 65px;
      margin-top:14px;
    }
    .ariane-2{
      float:left;
      margin-top:12px;
      margin-left:5px;
    }
    .buttons{
      margin-top: 10px;
      margin-right: 10px;
      text-align: right;
      .button{
        border:1px solid #FFF;
        &.primary{
          background-color: $alternative-color;
          font-weight: bold;
        }
        &.primary:hover{
          background-color: darken($alternative-color,10%);
        }
      }
    }
    h1{
      font-size: 16px;
      font-style: italic;
      font-weight: bold;
      color: #FFF;

      span{ // to fix hide-for-small block effect
        display:inline;
      }

      .separator-ariane{
        @include svg-background("arrow-right", 24px, 24px);
        margin-top:3px;
        margin-left:5px;
        float:right;
      }
    }
    h2{
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      color: #FFF;
      margin:0;padding:0;
    }
    legend{
      margin:0;padding:0;
      font-size: 11px;
      color:#EEE;
    }

    .highlight_bar{
      width:100%;
      height:45px;
      border-top:2px solid lighten($primary-color, 25);
      background-color: lighten($primary-color, 15);
      overflow:hidden;
      z-index:5;
      color:#FFF;
      font-size: 12px;

      .left{
        margin-top:15px;
      }
      a.close_hightlight{
        float : left;
        margin-left:10px;
        margin-right:10px;
        opacity:0.8;
        color:#FFF;
        &:hover{
          opacity:1;
        }
      }
      .highlight_example{
        background-color:#FFF;
        color:$primary-color;
        padding:4px 10px 4px 10px;
        border-radius:2px;
      }
      .buttons{
        margin-top: 3px;
        margin-right: 10px;
        text-align: right;
        .button{
          background-color: lighten($primary-color, 15);;
          border:1px solid #FFF;
          &:hover{
            background-color: darken($primary-color,10%);
          }
        }
      }
    }
  }
  .preview_modal{
    right:10px;
    position: absolute;
    bottom: 60px;
    width: 300px;
    max-height: 300px;
    height: auto;
    background: #FFF;
    border: solid 1px #CCC;
    font-size: 16px;
    z-index: 99;
    max-width: 300px;
    box-shadow: 0 0 6px rgba(#000,0.2);
    @include border-radius(3px);

    &:before{
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: solid 6px;
      border-color: #FFF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      border-bottom-style: solid;
      position: absolute;
      bottom: -12px;
      right: 150px;
      z-index: 99;
    }

    ul{
      overflow-y:auto;
      list-style: none;
      margin:0;
      // height:300px;
      li{
        border-bottom: 1px solid $border-color;
        padding:10px;

        &:last-child{
          border:0;
        }

        &:hover {
          background: lighten($primary-color, 40);
          cursor: pointer;
        }
      }
    }
  }
}

$factor: 50;
$hundred: 100;
@while $factor <= 200 {
  .zoom-#{$factor} {
    transform: scale( (100/$factor) );
    transform-origin: 0 0;
  }

  $factor: $factor + 10;
}


// -----------------------------------------------------
//          similar
// -----------------------------------------------------

$search-height:61px;

.overlay {
  position:absolute;
  top:47px;
  left:0px;
  right:0px;
  height:$search-height;
  overflow:hidden;
  z-index:2;
  border-bottom:3px solid $border-color;

  &.similar {
    background-color:#fbf7ed;

    .info {
      label {
        color:$alternative-color;
        float: left;
      }
      a {
        text-decoration: underline; color:#676767;
        float: left;
      }
    }

    a.close { color:$alternative-color; font-size:24px; }
  }

  &.error {
    background-color:#df1515;

    .info {
      label { color: #fff; }
      a { color:#fee; }
    }

    a.close { color: #fff; }
  }

  .info{
    line-height:$search-height;

    label{
      display:inline;
      text-transform: uppercase;
      font-weight:bold;
      margin-left:20px;
      cursor:default;
    }
    a{
      margin-left:10px;
    }
  }
  a.close{
    float:right;
    line-height:$search-height;
    margin-right:20px;
    &:hover{
      opacity:0.8;
    }
  }

}


// -----------------------------------------------------
//          similar
// -----------------------------------------------------

slider {
  display:     block;
  position:    relative;
  height: 7px;
  width: 100%;
  margin: 25px 5px 25px 5px;
  vertical-align: middle;

  span {
    white-space: nowrap;
    position: absolute;
    display: inline-block;
  }
  span.base {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  span.bar {
    width: 100%;
    height: 100%;
    z-index: 0;
    -webkit-border-radius: 1em/1em;
    border-radius: 1em/1em;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c0c0c0), color-stop(1, #8d8d8d));
    background: -webkit-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
    background: -moz-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
    background: -o-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
    background: -ms-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
    background: linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
    -webkit-box-shadow: inset 2px 2px 5px;
    box-shadow: inset 2px 2px 5px;
  }

  span.bar.selection, slider span.bar.unselected {
  }

  span.bar.selection {
    background: #0a0;
    opacity:    0.5;
    z-index: 1;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #13b6ff), color-stop(1, #00a8f3));
    background: -webkit-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
    background: -moz-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
    background: -o-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
    background: -ms-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
    background: linear-gradient(top, #13b6ff 0, #00a8f3 100%);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  span.bar.unselected {
    width:      auto;
    background: #a00;
    opacity:    0.5;
  }

  span.pointer {
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: -8px;
    background-color: #fff;
    border: 1px solid #000;
    z-index: 2;
    -webkit-border-radius: 1em/1em;
    border-radius: 1em/1em;
  }
  span.pointer:after {
    content: '';
    background-color: #808080;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 5px;
    left: 5px;
    -webkit-border-radius: 1em/1em;
    border-radius: 1em/1em;
  }
  span.pointer:hover:after {
    background-color: #000;
  }
  span.pointer.active:after {
    background-color: #f00;
  }

  span.bubble {
    cursor: pointer;
    top: -27px;
    padding: 1px 3px 1px 3px;
    font-size: 1em;
    font-family: sans-serif;
  }
  span.bubble.selection {
    top: 20px;
    left: 0 !important;
    font-size: 1.2em;
  }
  span.bubble.limit {
    color: #808080;
  }

  .input {
    cursor: pointer;
  }
}

.slider-container {
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      -moz-none;
  -ms-user-select:       none;
  user-select:           none;
}
