@mixin svg-background($img, $width, $height) {
  background-image: inline-image($img + ".svg");
  background-size: $width $height;
  background-repeat:no-repeat;
  width: $width;
  height: $height;
}

// -----------------------------------------------------
//          General
// -----------------------------------------------------

html, body, .container/*, .wrapper, .wrapper>.row, .off-canvas-wrap, .inner-wrap */ {
  height: 100%;
}

body.app {
  background-color: #fafafa;
}

h3 {
  text-transform:uppercase;
  font-size: 12px;
}
blockquote{
  color: darken($primary-color, 10);

}
::selection {
  background: $selection-bg;
  }
::-moz-selection {
  background: $selection-bg;
}

.clearer{
  clear:both;
}

.hlt {
  background: #fff28a;
}
// -----------------------------------------------------
//          Header
// -----------------------------------------------------

.top-bar{
  .small-logo {
    position: absolute;
    @include svg-background("logo-white", 120px, 35px);
    width: 120px;
    height: 35px;
    left: 20px;
    top:5px;
  }
  .text-logo{
    color:#FFF;
    position: absolute;
    left: 65px;
    top:10px;
  }
  .header-icon{
    position:relative;
    display:inline-block;
    margin-top:12px;
    width:20px;
    height:20px;
  }
  @each $icon in logout, cloud, support {
    .header-icon.#{$icon} {
      @include svg-background("icon-header/"+quote($icon), 20px, 20px);
    }
  }
}

.state{
  position:absolute;
  background-repeat:no-repeat;
  bottom:-4px;
  right:-4px;

  &.ok{
    @include svg-background("icon-header/ok", 16px, 16px);
    width: 16px;
    height: 16px;
  }
  &.loading{
    @include svg-background("icon-header/loading", 16px, 16px);
    width: 16px;
    height: 16px;
    animation:antispin 4s linear infinite;
  }
}

#dropdown_providers{
  ul{
    list-style-type: none;
    margin: 0;

    li{
      padding: 10px 5px 10px 5px;
      font-size: 11px;
      color: $dropdown-bg;
      border-bottom: 1px solid $border-color;
      cursor: normal;

      .state{
        position:relative;
        float:left;
        margin-right:10px;
      }
      &:hover{
        background-color:#FFF;
        .edit{
          display:block;
        }
      }

      .ic{
        position:relative;
        float:left;
        margin-right:5px;
      }

      .edit{
        color: #FFF; // TODO CHANGE TO FOUNDATION STANDARDS
        float:right;
        padding:5px 10px 5px 10px;
        margin:0px;
        border-radius: 2px;
        font-size: 9px;
        display:none;
      }
      small{
        color: #999;
        font-size: 9px;
      }
    }
    .add{
      margin:0px;
      width:100%;
    }
  }
}

// -----------------------------------------------------
//          Search box
// -----------------------------------------------------

.search-box {
  position:relative;
  width: 100%;
  height: 60px;
  background-color: $light-bg;
  border-bottom:1px solid $border-color;

  &>.row {
    position: relative;
  }

  h3 {
    margin-left:15px;
    padding-top:5px;
  }

  form {
    height: 100%;

    input {
      position:absolute;
      text-indent: 20px;
      top:15px;
      bottom:0px;
      font-size: 20px;
      height:45px;
    }
  }
}

// -----------------------------------------------------
//          Content
// -----------------------------------------------------

.wrapper {
//  position:absolute;
  width:100%;
  top: 107px;
  bottom:0px;
  left:0px;

  .inner-wrap {
    -webkit-transition: -webkit-#{$menu-slide};
    -moz-transition: -moz-#{$menu-slide};
    -ms-transition: -ms-#{$menu-slide};
    -o-transition: -o-#{$menu-slide};
    // transition: #{$menu-slide};
  }

  .filters {

    .filter {
      margin:20px 0px 20px 0px;

      h3 {
        color: $body-font-color;
        font-size: 0.9em;

        &.active {
          color: $primary-color;
        }
      }

      .reset {
        color: $body-font-color;
        font-size: 0.7em;
      }

      .disabled {
        color: #999;
      }

      input[type="checkbox"] + label {
        margin-left: 0.20rem;
      }

      .element {
        margin-left:20px;
        margin-right:20px;
        font-size:11px;
        color:$text-color;

        .numberRes {
          &:before { content: "("; }
          &:after { content: ")"; }
        }
      }
    }
  }

  .results{
    overflow-y:auto;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
    background-color:#fff;
    margin-bottom:20px;

    .empty {
      display: block;
      padding: 20px 0 40px;

      .logoFull {
        position: relative;
        height: 100px;
        width: 350px;
        margin: 0 auto;

        .small-logo {
          position: absolute;
          @include svg-background("landing/cluestr_icon_grey", 80px, 80px);
          width: 80px;
          height: 80px;
          left: 20px;
          top:5px;
        }
        .text-logo{
          color:$secondary-color;
          position: absolute;
          left: 120px;
          top:20px;
          font-size: 3em;
        }
      }

      .punchline {
        color: darken($secondary-color, 0);
        font-size: 1.5em;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica;
        text-transform: uppercase;
      }

      .greyLogo {
        width: 70px;
      }
    }

    .loading{
      padding:30px 0px 30px 0px;
      text-align: center;
      font-size:18px;
      color: #ddd;

      .loading-icon{
        display: inline-block;
        @include svg-background("spinner", 16px, 16px);
        width: 16px;
        height: 16px;
        animation:spin 2s linear infinite;
      }
    }
    .result-row{
      position:relative;
      width:100%;
      border-top: 1px solid $border-color;
      clear:both;
      background-color:#fff;
      cursor:pointer;
      transition: all .3s ease-in;

      &:hover{
        background-color: $light-bg;
        transition: background-color .3s ease-in;
      }

      &:first-child{
        border-top: 0px;
      }

      .icon{
        position:relative;
        width:55px;
        height:68px;
        margin:10px 20px 10px 20px;
        float:left;

        .icon-types{
          width:43px;
          height:56px;
          margin-left:12px;
        }
        @each $type in "5252ce4ce4cfcd16f55cfa3b", "5252ce4ce4cfcd16f55cfa3c", "5252ce4ce4cfcd16f55cfa3d", "5252ce4ce4cfcd16f55cfa3f" {
          .type-#{$type} {
            @include svg-background("icon-types/"+quote($type), 43px, 56px);
          }
        }

        .icon-provider{
          position: absolute;
          bottom:0px;
          left:0px;
          width:20px;
          height:20px;
        }
      }


      .details{
        display:table;
        padding:10px 20px 10px 0px;

        h2,h1{
          font-weight: normal;
          color:$text-color;
          font-size:16px;
          margin:10px 0 0 0;
        }

        p{
          font-size:14px;
          color:$secondary-color;
          margin:0;
          strong{
            color:$primary-color;
          }
        }
      }
      .date{
        color:#adadad;
        margin:10px 30px 0 0;
        width:140px;
        font-size:12px;
        text-align:right;
        float:right;
      }
    }

    .more {
      padding: 10px 0;
    }
  }
}
.inline_svg{
    display: inline-block;
    vertical-align: middle;
}
@each $provider in "52bff114c8318c29e9000005", "52bff1eec8318cb228000001" {
  .provider-#{$provider} {
    @include svg-background("icon-provider/"+quote($provider), 20px, 20px);
  }
  .provider-white-#{$provider} {
    @include svg-background("icon-white-provider/"+quote($provider), 20px, 20px);
  }
}

// -----------------------------------------------------
//          Preview
// -----------------------------------------------------

.preview{
  position:fixed;
  z-index:3;
  width:100%;
  height:100%;

  .background{
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    background-color:#000;
    opacity:0.5;
    z-index:2;
  }
  .details{
    position: absolute;
    top:0px;
    bottom:110px;
    left:10%;
    right:10%;
    overflow: scroll;
    background-color:#FFF;
    z-index:3;
    box-shadow: 0 0 10px #000;
    padding: 2%;

  }
  .close{
    position:absolute;
    top:10px;
    right:10px;
    @include svg-background("icon-preview/cross", 24px, 24px);
    z-index:5;
    cursor: pointer;
    &:hover{
      opacity:0.7;
    }
  }
  .footer{
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:65px;
    border-top:2px solid lighten($primary-color, 10);
    background-color: $primary-color;
    overflow:hidden;
    z-index:4;

    .provider{
      margin-top:5px;
      float:left;
      margin-right:5px;
      vertical-align: middle;
    }
    .ariane-1{
      float:left;
      margin-left:20px;
      line-height: 65px;
      width:150px;
      margin-top:14px;
    }
    .ariane-2{
      float:right;
      margin-top:12px;
      margin-left:20px;
    }
    .buttons{
      margin-top: 10px;
      margin-right: 10px;
      text-align: right;
      .button{
        border:1px solid #FFF;
        &.primary{
          background-color: $alternative-color;
          font-weight: bold;
          &:hover{
            background-color: darken($alternative-color,10%);
          }
        }
      }
    }
    .separator-ariane{
      @include svg-background("arrow-right", 24px, 24px);
      margin-top:5px;
      float:right;
    }
    h1{
      font-size: 16px;
      font-style: italic;
      font-weight: bold;
      color: #FFF;
    }
    h2{
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      color: #FFF;
      margin:0;padding:0;
    }
    legend{
      margin:0;padding:0;
      font-size: 11px;
      color:#EEE;
    }
  }

  .highlight_bar{
    position:absolute;
    bottom:65px;
    left:0px;
    width:100%;
    height:45px;
    border-top:2px solid lighten($primary-color, 25);
    background-color: lighten($primary-color, 15);
    overflow:hidden;
    z-index:5;
    color:#FFF;
    font-size: 12px;

    .left{
      margin-top:15px;
    }
    a.close_hightlight{
      float : left;
      margin-left:10px;
      margin-right:10px;
      opacity:0.8;
      color:#FFF;
      &:hover{
        opacity:1;
      }
    }
    .highlight_example{
      background-color:#FFF;
      color:$primary-color;
      padding:4px 10px 4px 10px;
      border-radius:2px;
    }
    .buttons{
      margin-top: 3px;
      margin-right: 10px;
      text-align: right;
      .button{
        background-color: lighten($primary-color, 15);;
        border:1px solid #FFF;
        &:hover{
          background-color: darken($primary-color,10%);
        }
      }
    }
  }
}



// -----------------------------------------------------
//          similar
// -----------------------------------------------------

$search-height:61px;

.similar_overlay{
  position:absolute;
  top:47px;
  left:0px;
  right:0px;
  background-color:#fbf7ed;
  height:$search-height;
  overflow:hidden;
  z-index:2;
  border-bottom:3px solid $border-color;

  .info{
    line-height:$search-height;

    label{
      display:inline;
      color:$alternative-color;
      text-transform: uppercase;
      font-weight:bold;
      margin-left:20px;
      cursor:default;
    }
    a{
      color:#676767;
      text-decoration: underline;
      margin-left:10px;
    }
  }
  a.close{
    float:right;
    color:$alternative-color;
    line-height:$search-height;
    margin-right:20px;
    &:hover{
      opacity:0.8;
    }
  }

}
