<div>
  <form ng-show="documentTypes.totalCount || providers.totalCount">
    <div class="filter">
      <div class="row">
        <h3 class="large-6 columns">What</h3>
        <div class="large-6 columns text-right">
          <a class="reset" ng-mouseup="resetDocTypes()" ng-show="documentTypes.filtered">RESET</a>
        </div>
      </div>
      <div class="element" ng-repeat="docType in documentTypes.list" ng-show="docType.search_count">
        <div class="row" ng-click="update()">
          <input type="checkbox" ng-model="documentTypes.states[docType.id]" id="type-{{docType.id}}"/>
          <label for="type-{{docType.id}}">
            {{docType.name | capitalizeFirst}}
          </label>
          <span class="numberRes">{{docType.search_count}} </span>
        </div>
      </div>
    </div>

    <div class="filter">
      <div class="row">
        <h3 class="large-6 columns">Where</h3>
        <div class="large-6 columns text-right">
          <a class="reset" ng-mouseup="resetProv()" ng-show="providers.filtered">RESET</a>
        </div>
      </div>

      <div class="element" ng-repeat="provider in providers.list" ng-show="provider.search_count">
        <div class="row" ng-click="update()">
          <input type="checkbox" ng-model="providers.states[Object.keys(providers.list)[$index]]" id="type-{{Object.keys(providers.list)[$index]}}"/>
          <label for="type-{{Object.keys(providers.list)[$index]}}">
            {{provider.name | capitalizeFirst}}
          </label>
          <span class="numberRes">{{provider.search_count}}</span>
        </div>
      </div>
    </div>

    <div class="filter">
      <div class="row">
        <h3 class="large-6 columns">WHEN</h3>
        <div class="large-6 columns text-right">
          <a class="reset" ng-mouseup="resetTime()" ng-show="timeFilter">RESET</a>
        </div>
      </div>
      <div class="element">
        <select ng-model="timeFilter" id="timeFilter">
          <option value="">Choose a timeframe</option>
          <option ng-repeat="time in times" value="{{time.timestamp}}">{{time.label}}</option>
        </select>
      </div>
    </div>

  </form>
</div>