<!-- Modal full page -->
<modal show="modalShow" documentfull="full" query="query"></modal>

<nav class="header_bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <a href="/"><div class="small-logo"></div></a>
    </li>
  </ul>

  <section class="header_bar_section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li>
        <a href="#" data-dropdown="dropdown_providers" data-options="is_hover:true">
          <div class="header-icon cloud">
            <div class="state" ng-class="{true:'ok', false:'loading'}[providersStatus]"></div>
          </div>
        </a>
      </li>
      <li class="divider show-for-medium-up"></li>
      <li class="show-for-medium-up"> <a href="mailto:support@papiel.fr"><div class="header-icon support"></div></a></li>
      <li class="divider"></li>
      <li><a href="#" ng-click='logout()'><div class="header-icon logout"></div></a></li>
      <li class="divider"></li>
      <li><a href="#"><span gravatar data-gravatar-email="user.email"></span> <span class="show-for-medium-up">{{user.email}}</span></a></li>
    </ul>
   </section>
</nav>

<!-- Dropdown providers -->

<div id="dropdown_providers" class="f-dropdown" data-dropdown-content>
  <ul>
    <li ng-repeat="provider in providers">
      <div class="ic provider-{{provider.application}}"></div> {{provider.name}}<!--  <a class="button tiny edit">Edit</a> -->
      <div class="clearer"></div>
      <div class="state" ng-class="{true:'ok', false:'loading' }[provider.upToDate]"></div><small>Last update: {{provider.updated | date:'MM/dd/yy h:mma'}}</small>
    </li>
    <button class="tiny add">+ Add provider</button>
  </ul>
</div>


<!-- similar -->
<div class="error overlay" ng-show="errorMes">
  <a class="close" ng-click="close_error()">x</a>
  <div class="info">
    <label>Error: </label>
    <a href="#">{{errorMes}}</a>
  </div>
</div>

<!-- similar -->
<div class="similar overlay" ng-show="similarShow">
  <a class="close" ng-click="close_similar()">x</a>
  <div class="info">
    <label>similar to</label>
    <a href="#">invoice123.docx</a>
  </div>
</div>

<div class="wrapper">
  <div class="off-canvas-wrap">
    <div class="inner-wrap">
      <!-- SEARCH -->
      <section class="search-box">
        <div class="row">
          <nav class="show-for-small filter_icon_container">
            <a class="left-off-canvas-toggle filter_icon"></a>
          </nav>
          <form ng-submit="search(query)">
            <h3>Fetch</h3>
            <input id="search" type="text" value="" placeholder="Search" ng-model="query"  speech x-webkit-speech/>
          </form>
        </div>
      </section>
      <div class="row">
        <!-- //////////////////////////////////////////////
                    Filters
            ////////////////////////////////////////////// -->
        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu show-for-small filters_off_canvas">
          <ng-include src="'views/filter_large.html'"/>
        </aside>

        <div class="large-3 medium-3 columns filters">
          <div class="hide-for-small show-for-medium-up">
            <div class="sidebar">
              <ng-include src="'views/filter_large.html'"/>
            </div>
          </div>
        </div>

        <!-- //////////////////////////////////////////////
                Main content: result elements
            ////////////////////////////////////////////// -->

        <div class="large-9 medium-9 columns">
          <article class="results">
            <div class="loaded">
              <div class="result-row" ng-repeat="result in results" ng-show="documentTypes[result.document_type].visible && providers[result.token].visible">
                <snippet result="result" click="displayFull(id)"></snippet>
              </div>
              <div class="loading" ng-hide="!loading">
                <div class="loading-icon"></div> Loading...
              </div>
              <div class="result-row more text-center" ng-show="moreResult && !loading" ng-click="loadMore()">
                <a>Load more</a>
              </div>
            </div>
            <a class="empty text-center" ng-hide="results.length || loading" ng-click="focusSearch()">
              <p class="punchline" ng-hide="query.length">Start finding!</p>
              <p class="punchline" ng-show="query.length">No results match your query!</p>
              <div class="logoFull">
                <div class="small-logo"></div>
                <div class="text-logo">any<strong>Fetch</strong></div>
              </div>
            </a>
          </article>
         <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>
      </div>
    </div>
  </div>
</div>
