<div class="container">
  <!-- HEADER -->
  <header class="header">
    <div class="small-logo"></div>
    <div class="menu">
      <a href="#">Settings</a> | 
      <a href="#">Support</a> | 
      <a href="#"><img src="images/avatar.png" width="30px" height="30px"/> Tata ▾</a>
    </div>
  </header>
  <!-- SEARCH -->
  <section class="search-box">
    <h3>Search</h3>
    <input type="text" value="" />
  </section>
  <section class="content">
    <!-- LEFT FILTERS -->
    <aside class="filters">

      <div class="filter">
        <h3>What</h3>
        <div class="row">
          <input type="checkbox" checked name="type[document]"/> Document
        </div>
        <div class="row">
          <input type="checkbox" checked name="type[image]"/> Image
        </div>
        <div class="row">
          <input type="checkbox" checked name="type[spreadsheet]"/> Spreadsheet
        </div>
        <div class="row">
          <input type="checkbox" checked name="type[mail]"/> Mail
        </div>
      </div>

      <div class="filter">
        <h3>Where</h3>
        <div class="row">
          <input type="checkbox" checked name="type[document]"/> Dropbox
        </div>
        <div class="row">
          <input type="checkbox" checked name="type[image]"/> Evernote
        </div>
        <div class="row">
          <input type="checkbox" checked name="type[spreadsheet]"/> Google Drive
        </div>
        <div class="row">
          <input type="checkbox" checked name="type[mail]"/> Gmail
        </div>
      </div>

      <div class="filter">
        <h3>When</h3>
        <div class="row">
          <select>
            <option value="anytime">Anytime</option>
            <option value="today">Today</option>
            <option value="week">This Week</option>
            <option value="month">This Month</option>
            <option value="year">This Year</option>
          </select>
        </div>
      </div>

      <div class="filter">
        <h3>How</h3>
        <div class="row">
          <select>
            <option value="time">Time</option>
            <option value="name">Name</option>
          </select>
        </div>
      </div>
      <footer>
        <h3>Status</h3>
        <small>Updating...</small>
      </footer>
    </aside>

    <!-- RESULT ROWS -->
    <article class="results">

      <div class="row">
        <div class="icon">
          <div class="icon-types icon-types-file"></div>
          <div class="icon-provider icon-provider-dropbox"></div>
        </div>
        <div class="details">
          <h2>Invoice 421.docx</h2>
          <div class="description">To: <strong>John Smith</strong>, Adress : 20 Avenue Albert Einstein 69100 Villeurbanne ... Signature <strong>John Smith</strong> Brian Clark</div>
        </div>
        <div class="date">Today</div>
      </div>

      <div class="row">
        <div class="icon">
          <div class="icon-types icon-types-event"></div>
          <div class="icon-provider icon-provider-salesforce"></div>
        </div>
        <div class="details">
          <h2>IMG_3456.jpg</h2>
          <div class="description"><strong>John Smith</strong> Senior Consultat at BMI group Tel: 053452356 ... email: jsmith@bmi-group.com</div>
        </div>
        <div class="date">Today</div>
      </div>
    </article>
  </section>
</div>