<div class="preview" ng-show="show">
  <div class="background" ng-click="hideModal()"></div>
  <div class="details" ng-bind-html='fullText'></div>
  <div class="loading text-center" ng-hide="fullText != null">
    <div class="loading-icon"></div> Loading...
  </div>
  <div class="close" ng-click="hideModal()"></div>
  <div class="highlight_bar">
    <div class="left">
      <a class="close_hightlight">x</a>
      Highlight : <span class="highlight_example">{{query}}</span>
    </div>
    <div class="buttons right">
      <a class="button tiny radius">&lt; <span class="hide-for-small">Previous</span></a>
      <a class="button tiny radius"><span class="hide-for-small">Next</span> &gt;</a>
    </div>
  </div>
  <div class="footer">
    <div class="left">
      <div class="ariane-1">
        <h1>
          <div class="provider provider-white-{{documentfull.token}}"></div>
          <div class="separator-ariane"></div>
          <span><span class="hide-for-small">{{provider.name}}</span></span>
        </h1>
      </div>
      <div class="buttons right">
        <a class="button tiny radius" ng-click="show_similar()">
          <img src="/images/icon-preview/link.svg" width="16px" height="16px" /> 
          Show similar
        </a>
        <a class="button tiny radius" ng-show="documentfull.actions.delete" href="{{documentfull.actions.delete}}">
          <img src="/images/icon-preview/remove.svg" width="16px" height="16px" />
        </a>
        <a class="button tiny radius" ng-show="documentfull.actions.reply" href="{{documentfull.actions.reply}}">
          <img src="/images/icon-preview/share.svg" width="16px" height="16px" />
        </a>
        <a class="button tiny radius" ng-show="documentfull.actions.share" href="{{documentfull.actions.share}}">
          <img src="/images/icon-preview/share.svg" width="16px" height="16px" />
        </a>
        <a class="button tiny radius" ng-show="documentfull.actions.download" href="{{documentfull.actions.download}}">
          <img src="/images/icon-preview/download.svg" width="16px" height="16px" />
        </a>
        <a class="button tiny radius primary" ng-show="documentfull.actions.show" href="{{documentfull.actions.show}}">Open</a>
      </div>
    </div>
    <div class="buttons right">
      <a class="button tiny radius" ng-click="show_similar()">
        <img src="/images/icon-preview/link.svg" width="16px" height="16px" /> 
        <span class="hide-for-small">Show similar</span>
      </a>
      <a class="button tiny radius" ng-show="documentfull.actions.delete" href="{{documentfull.actions.delete}}">
        <img src="/images/icon-preview/remove.svg" width="16px" height="16px" />
      </a>
      <a class="button tiny radius" ng-show="documentfull.actions.reply" href="{{documentfull.actions.reply}}">
        <img src="/images/icon-preview/share.svg" width="16px" height="16px" />
      </a>
      <a class="button tiny radius" ng-show="documentfull.actions.share" href="{{documentfull.actions.share}}">
        <img src="/images/icon-preview/share.svg" width="16px" height="16px" />
      </a>
      <a class="button tiny radius" ng-show="documentfull.actions.download" href="{{documentfull.actions.download}}">
        <img src="/images/icon-preview/download.svg" width="16px" height="16px" />
      </a>
      <a class="button tiny radius primary" ng-show="documentfull.actions.show" href="{{documentfull.actions.show}}">Open</a>
    </div>
  </div>
</div>