<div class="preview" ng-show="show">
  <div class="background" ng-click="hideModal()"></div>
  <div class="details" ng-bind-html='fullText'></div>
  <div class="close" ng-click="hideModal()"></div>
  <div class="footer">
    <div class="left">
      <div class="ariane-1">
        <div class="separator-ariane"></div>
        <div class="provider provider-white-{{documentfull.token}}"></div>
        <h1>{{provider.name}}</h1>
      </div>
      <div class="ariane-2">
        <div class="types-vector types-{{documentfull.document_type}}"></div>
        <h2>{{documentfull.datas.name || documentfull.datas.title}}</h2>
        <legend>{{documentfull.creation_date | date:'short'}}</legend>
      </div>
    </div>
    <div class="buttons right">
      <a class="button tiny radius" ng-click="show_similar()">
        <img src="/images/icon-preview/link.svg" width="16px" height="16px" /> 
        Show similar
      </a>
      <a class="button tiny radius" ng-show="documentfull.actions.delete" href="{{documentfull.actions.delete}}">
        <img src="/images/icon-preview/remove.svg" width="16px" height="16px" />
      </a>
      <a class="button tiny radius" ng-show="documentfull.actions.reply" href="{{documentfull.actions.reply}}">
        <img src="/images/icon-preview/share.svg" width="16px" height="16px" />
      </a>
      <a class="button tiny radius" ng-show="documentfull.actions.share" href="{{documentfull.actions.share}}">
        <img src="/images/icon-preview/share.svg" width="16px" height="16px" />
      </a>
      <a class="button tiny radius" ng-show="documentfull.actions.download" href="{{documentfull.actions.download}}">
        <img src="/images/icon-preview/download.svg" width="16px" height="16px" />
      </a>
      <a class="button tiny radius primary" ng-show="documentfull.actions.show" href="{{documentfull.actions.show}}">Open</a>
    </div>
  </div>

</div>